/* Styling for the calculator container */
/* Styling for the calculator container with gradient background */
.myCalculator {
  width: 315px;
  margin: auto;
  padding: 20px;
  background-color: #808080; /* Gray background */
  font-family: "Orbitron", sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); /* Add a subtle shadow for depth */
}

/* Styling for calculator buttons */
.buttons {
  display: flex; /* Use flex for button alignment */
  flex-wrap: wrap; /* Allow buttons to wrap to the next line on smaller screens */
  justify-content: center; /* Center-align buttons */
  margin: 23px 0; /* Adjust margin */
}

.btn {
  background: #FFD700; /* Yellow button background */
  color: black;
  padding: 8%; /* Increase padding for better touch targets */
  border: none;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  margin: 5px;
  font-size: 25px;
  cursor: pointer;
  outline: none;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.btn:focus {
  background: white;
  color: #323232;
}

/* Styling for specific buttons */
.btn-calc,
.btn-action,
.btn-0 {
  background: #000; /* Black for specific buttons */
  color: #FFD700; /* Yellow text color */
}

.btn-0 {
  padding: 0 20px; /* Adjust padding for wider '0' button */
  width: auto; /* Allow '0' button to expand based on content */
  border: none; /* Remove border for the '0' button */
  margin: 5px 5px 5px 0; /* Adjust margin for '0' button */
  border-radius: 30px;
  height: 60px;
  font-size: 25px;
}

.btn-0:focus {
  background: #EEEEFF;
  color: black;
}

/* Styling for the calculator result display */
.result {
  width: 100%;
  height: 62px;
  margin-top: 30px;
  background: #FFD700; /* Yellow background for the result display */
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Add a shadow for separation */
}

.result p {
  text-align: right;
  font-size: 26px;
  margin: 0; /* Remove margin to avoid extra space */
  padding: 14px 10px; /* Adjust padding for better alignment */
}
